<footer class="footer">
    <div class="footer-top">
        <img src="/assets/images/f-logo.png" alt="로고">
    </div>

    <div class="container">
        <div class="footer-bottom">
            <div class="footer-left">
                <ul class="footer-menu">
                    <li><a href="#">개인정보처리방침</a></li>
                    <li><a href="#">이용약관</a></li>
                </ul>

                <address class="footer-company">
                    <p>
                        FRUEN
                        <span>사업자번호. 000-00-00000</span>
                        <span>본사. 서울특별시 성동구 성수이로 88, 4층 FRUEN</span>
                    </p>

                    <p>
                        <span>FAX. 02-6203-1841</span>
                        <span>EMAIL. hello@fruen.co.kr</span>
                    </p>
                </address>

                <p class="footer-copy">
                    COPYRIGHT © FRUEN. ALL RIGHTS RESERVED.
                </p>
            </div>

            <div class="footer-right">
                <a href="https://www.instagram.com/fruen_official?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                    class="footer-instagram">
                    <img src="/assets/icon/icon-footer-instargram.svg" alt="Instagram">
                </a>
                <p class="footer-center-title">
                    고객센터
                </p>
                <a href="tel:0807422100" class="footer-tel">
                    080-742-2100
                </a>
            </div>
        </div>
    </div>
</footer>
