<header class="header">
    <div class="logo">
        <a href="/index.html">
            <img src="/assets/images/logo.png" alt="logo">
        </a>
    </div>

    <nav class="header-nav">
        <ul>
            <li class="header-menu">
                <a href="./story.html">STORY</a>
            </li>
            <li class="header-menu">
                <a href="./product.html">PRODUCT</a>
            </li>
            <li class="header-menu">
                <a href="./recipe.html">RECIPE</a>
            </li>
            <li class="header-menu">
                <a href="./brand.html">LISTED BRAND</a>
            </li>
            <li class="header-menu">
                <a href="./event.html">EVENT</a>
            </li>
        </ul>
    </nav>

    <div class="headr-btn">
        <button class="shop-btn">
            <a href="#">SHOP <img src="./assets/icon/icon-shop-btn.png" alt="shop-btn"></a>
        </button>
        <button class="contact-btn">
            <a href="./contact.html">CONTACT</a>
        </button>
    </div>

    <div class="hamburger-menu">
        <button class="hamburger-menu-btn">
            <img src="./assets/icon/icon-hamburger-menu.png" alt="햄버거메뉴">
        </button>
    </div>
</header>
