/* 헤더 */
/* ==================================================
   Header Inner
================================================== */

.header {
    width: 100%;
    height: 150px;

    margin: 0 auto;
    padding: 0 240px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    position: absolute;
    z-index: 9999;

}


/* ==================================================
   Logo
================================================== */

.logo a {
    display: block;

    width: 185px;
    height: 40px;
}

.logo img {
    display: block;

    width: 100%;
    height: 100%;

    object-fit: contain;
}


/* ==================================================
   Navigation
================================================== */

.header-nav {
    margin: 0;
    padding: 0;
}

.header-nav ul {
    display: flex;
    align-items: center;
    gap: 40px;

    margin: 0;
    padding: 0;

    list-style: none;

    font-size: 20px;
    font-weight: 500;
}

.header-menu {
    margin: 0;
    padding: 0;
}

.header-menu a {
    display: block;

    color: var(--color-primary-normal);
    text-decoration: none;
    white-space: nowrap;
}

.header-menu:hover a {
    color: #404040;
}


/* ==================================================
   Header Button
================================================== */

.headr-btn {
    display: flex;
    align-items: center;
    gap: 10px;

}

/* ==================================================
   SHOP Button
================================================== */

.shop-btn a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 132px;
    height: 44px;

    padding: 12px 32px;

    box-sizing: border-box;

    border: 1px solid #5C2300;
    border-radius: 50px;

    color: var(--color-primary-normal);

    font-size: 18px;
    font-weight: 500;

    text-decoration: none;
    white-space: nowrap;
}


.shop-btn img {
    display: block;

    width: auto;
    height: auto;

    margin-left: 4px;
}

.shop-btn:hover a {
    background-color: var(--color-btn-secondary-hover);
    color: var(--color-btn-secondary-default);
}

.shop-btn:hover img {
    filter: brightness(0) invert(1);
}

/* ==================================================
   CONTACT Button
================================================== */

.contact-btn a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 154px;
    height: 44px;

    padding: 12px 32px;

    box-sizing: border-box;

    border-radius: 50px;

    background-color: var(--color-primary-normal);
    color: #fff;

    font-size: 18px;
    font-weight: 500;

    text-decoration: none;
    white-space: nowrap;
}

.contact-btn:hover a {
    background-color: var(--color-btn-secondary-hover);
    color: var(--color-btn-secondary-default);
}

/* =========================
Hamburger Menu
========================= */

.hamburger-menu {
    display: none;
}