.kv-sec {
    width: 100%;
    height: 1080px;
    /* padding-bottom: 160px; */

    background-color: #FFF6DB;
}

.kv-sec img {
    width: 100%;

    object-fit: cover;
}

.kv-title-wrap {
    width: 100%;
    max-width: 1440px;
    margin: 40px auto 0;
}

.kv-title-wrap h2 {
    font-size: 60px;
    font-weight: 700;
    color: #121212;
    margin-bottom: 10px;
}

.kv-title-wrap p {
    font-size: 34px;
    font-weight: 500;
    color: #121212;
}


/* =============================================================== */

.contents-sec {
    padding: 300px;
}


/* =============================================================== */

.comming-sec {
    width: 100%;

    margin: 0 auto;
    padding-bottom: 200px;

    box-sizing: border-box;
}


/* =========================
Title
========================= */

.comming-sec .container>h2 {
    margin: 0 0 80px;

    font-family: var(--font-family);
    font-size: 40px;
    font-weight: 700;

    color: var(--color-text-primary);
}


/* =========================
Image Wrap
========================= */

.img-wrap {

    display: flex;
    align-items: flex-start;

    gap: 25px;
    margin: 0 0 120px;
}


/* =========================
Image Item
========================= */

.img-wrap li {
    width: auto;
    height: auto;
}


/* =========================
Image
========================= */

.img-wrap li a {
    display: block;

    width: 100%;
    height: 100%;
}

.img-wrap img {
    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}


/* =========================
List Button
========================= */

.list-btn {
    width: max-content;

    align-items: center;
    text-align: center;

    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 400;
    color: var(--color-text-primary);

    padding: 10px 30px;

    border: 1px solid #121212;
    border-radius: 30px;

    display: block;
    margin: 0 auto;
}

.list-btn:hover {
    color: var(--color-btn-secondary-default);
    background-color: #121212;
}

