.kv-sec {
    width: 100%;
    height: 1080px;
    /* padding-bottom: 160px; */

    background-color: #FFF6DB;
}

.kv-sec img {
    width: 100%;

    object-fit: cover;
}

.kv-title-wrap {
    width: 100%;
    max-width: 1440px;
    margin: 40px auto 0;
}

.kv-title-wrap h2 {
    font-size: 60px;
    font-weight: 700;
    color: #121212;
    margin-bottom: 10px;
}

.kv-title-wrap p {
    font-size: 34px;
    font-weight: 500;
    color: #121212;
}


/* =============================================================== */

/* =========================
Event
========================= */

.event-sec {
    width: 100%;

    padding: 300px 0 180px;

    background-color: #fff;
}


/* =========================
Title
========================= */

.main-title-2 {
    text-align: center;

    color: var(--color-text-primary);
}


/* =========================
Filter
========================= */

.filter-wrap {
    width: 1440px;
    max-width: calc(100% - 40px);

    margin: 90px auto 0;

    display: flex;
    align-items: center;

    gap: 15px;
}

.filter-wrap button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 15px 30px;

    border: 0;
    border-radius: 50px;

    background-color: #F1F1F1;

    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;

    color: #CFCFCF;

    cursor: pointer;
}

.filter-wrap .active {
    background-color: var(--color-primary-heavy);
    color: #fff;
}


/* =========================
Event Content
========================= */

.event-content {
    width: 100%;
    max-width: 1440px;

    margin: 50px auto 0;

    overflow: hidden;
}


/* =========================
Event Wrap
========================= */

.event-wrap {
    position: relative;

    width: max-content;

    display: flex;
    gap: 24px;
}

/* =========================
Event List
========================= */

.event-list {
    width: max-content;

    margin: 0;
    padding: 0;

    display: flex;
    flex: 0 0 auto;

    gap: 24px;

    list-style: none;

    box-sizing: border-box;
}

/* active 목록 */

.event-list.active {
    display: flex;
}


/* =========================
Event Item
========================= */

.event-list li {
    flex: 0 0 auto;

    min-width: 0;
}


/* =========================
Event Link
========================= */

.event-list a {
    display: block;

    width: 100%;

    text-decoration: none;

    color: inherit;
}


/* =========================
Event Image
========================= */

.event-list img {
    display: block;

    width: 100%;
    height: auto;

    object-fit: cover;
}


/* =========================
Event Title
========================= */

.event-list h3 {
    margin: 18px 0 0;

    color: var(--color-text-primary);
}


/* =========================
Event Date
========================= */

.event-list p {
    margin: 45px 0 0;

    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 400;

    color: var(--color-border-brand);
}


/* =========================
Page Button
========================= */

.page-btn-wrap {
    width: 100%;

    margin-top: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 50px;
}


.page-btn-wrap img {
    display: block;

    width: 15px;
    height: 15px;
    padding: 15px 15px;

    object-fit: contain;

    cursor: pointer;

    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 1px 1.33px rgba(0, 0, 0, 0.15);
}

.prev-btn:hover {
    filter: brightness(1) invert(0);
    background-color: #d9d9d9;
}

.next-btn:hover {
    filter: brightness(1) invert(0);
    background-color: #d9d9d9;
}

