.kv-sec {
    width: 100%;
    height: 1080px;
    padding-bottom: 160px;

    background-color: var(--color-bg-product);
}

.kv-sec img {
    width: 100%;

    object-fit: cover;
}

.kv-title-wrap {
    width: 100%;
    max-width: 1440px;
    margin: 40px auto 0;
}

.kv-title-wrap h2 {
    color: var(--color-primary-heavy);
    margin-bottom: 10px;
}

.kv-title-wrap p {
    color: var(--color-primary-heavy);
}


/* =============================================================== */

.product-sec {
    width: 100%;
    padding: 150px 0;
}


/* =========================
   Filter Button
========================= */

.filter-btn-wrap {
    display: flex;
    align-items: center;

    gap: 30px;

    margin-bottom: 45px;
    margin-left: 96px;
}

.filter-btn {
    padding: 10px 30px;

    border: 0;
    border-radius: 50px;

    font-size: 20px;
    font-weight: 600;

    color: var(--color-border-default);
    background-color: var(--color-btn-disabled);

    cursor: pointer;
}

.filter-btn.active {
    color: var(--color-btn-secondary-default);
    background-color: var(--color-primary-heavy);
}


/* =========================
   Product List
========================= */

.product-slider-wrap {
    width: 100%;
    overflow: hidden;
}

.product-list {
    display: none;

    grid-template-columns: repeat(3, max-content);

    column-gap: 24px;
    row-gap: 40px;

    width: fit-content;
    margin: 0 auto;

    position: relative;
}

.product-list.active {
    display: grid;
}


/* =========================
   Product
========================= */

.product-btn {
    width: fit-content;

    border: 0;
    padding: 0;

    background: transparent;

    cursor: pointer;

    text-align: left;
}

.product-btn img {
    display: block;

    width: auto;
    height: auto;

    object-fit: cover;
}

.product-btn p {
    margin-top: 20px;

    font-size: 28px;
    font-weight: 500;

    color: var(--color-primary-heavy);
}


/* =========================
Page Button
========================= */

.page-btn-wrap {
    width: 100%;

    margin-top: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 50px;
}


.page-btn-wrap img {
    display: block;

    width: 15px;
    height: 15px;
    padding: 15px 15px;

    object-fit: contain;

    cursor: pointer;

    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 1px 1.33px rgba(0, 0, 0, 0.15);
}

.prev-btn:hover {
    filter: brightness(1) invert(0);
    background-color: #d9d9d9;
}

.next-btn:hover {
    filter: brightness(1) invert(0);
    background-color: #d9d9d9;
}

/* =============================================================== */


.popup-wrap {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;


    display: none;

    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.5);

    z-index: 9999;
}


/* =========================
   Popup
========================= */

.popup {
    position: relative;

    display: none;

    border-radius: 20px;
    overflow: hidden;

    z-index: 10000;
}


/* =========================
   Popup Image
========================= */

.popup>img {
    display: block;

    width: auto;
    height: auto;

    max-width: 90vw;
    max-height: 90vh;
}


/* =========================
   Close Button
========================= */

.close-btn {
    position: absolute;

    top: 30px;
    right: 30px;

    padding: 0;

    border: 0;

    background: transparent;

    cursor: pointer;

    z-index: 10001;
}

.close-btn img {
    display: block;

    width: auto;
    height: auto;
}