/* ==================================================
   Header Inner
================================================== */

.header {
    width: 100%;
    height: 150px;
    background-color: #00000030;

    margin: 0 auto;
    padding: 0 240px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    position: absolute;
    z-index: 9999;

}


/* ==================================================
   Logo
================================================== */

.logo {
    margin: 0;
    padding: 0;
    filter: brightness(0) invert(1);
}

.logo a {
    display: block;

    width: 185px;
    height: 40px;
}

.logo img {
    display: block;

    width: 100%;
    height: 100%;

    object-fit: contain;
}


/* ==================================================
   Navigation
================================================== */

.header-nav {
    margin: 0;
    padding: 0;
}

.header-nav ul {
    display: flex;
    align-items: center;
    gap: 40px;

    margin: 0;
    padding: 0;

    list-style: none;

    font-size: 20px;
    font-weight: 500;
}

.header-menu {
    margin: 0;
    padding: 0;
}

.header-menu a {
    display: block;

    color: #ffffff;
    text-decoration: none;
    white-space: nowrap;
}

.header-menu:hover a {
    color: #404040;
}


/* ==================================================
   Header Button
================================================== */

.headr-btn {
    display: flex;
    align-items: center;
    gap: 10px;

}

/* ==================================================
   SHOP Button
================================================== */

.shop-btn a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 132px;
    height: 44px;

    padding: 12px 32px;

    box-sizing: border-box;

    border: 1px solid #ffffff;
    border-radius: 50px;

    color: #ffffff;

    font-size: 18px;
    font-weight: 500;

    text-decoration: none;
    white-space: nowrap;
}


.shop-btn img {
    display: block;

    width: auto;
    height: auto;

    margin-left: 4px;
    filter: brightness(0) invert(1);
}

.shop-btn:hover a {
    background-color: var(--color-btn-secondary-hover);
    color: var(--color-btn-secondary-default);
}

.shop-btn:hover img {
    filter: brightness(0) invert(1);
}

/* ==================================================
   CONTACT Button
================================================== */

.contact-btn a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 154px;
    height: 44px;

    padding: 12px 32px;

    box-sizing: border-box;

    border-radius: 50px;

    background-color: var(--color-btn-secondary-default);
    color: var(--color-btn-secondary-hover);

    font-size: 18px;
    font-weight: 500;

    text-decoration: none;
    white-space: nowrap;
}

.contact-btn:hover a {
    background-color: var(--color-btn-secondary-hover);
    color: var(--color-btn-secondary-default);
}



/* =============================================================== */


.kv-sec {
    width: 100%;
    height: 1080px;
    padding-bottom: 160px;

    background-color: var(--color-bg-product);
}

.kv-sec img {
    width: 100%;

    object-fit: cover;
}

.kv-title-wrap {
    width: 100%;
    max-width: 1440px;
    margin: 40px auto 0;
}

.kv-title-wrap h2 {
    color: var(--color-primary-heavy);
    margin-bottom: 10px;
}

.kv-title-wrap p {
    color: var(--color-primary-heavy);
}


/* =============================================================== */

.product-sec {
    width: 100%;
    padding: 150px 0;
}


/* =========================
   Filter Button
========================= */

.filter-btn-wrap {
    display: flex;
    align-items: center;

    gap: 30px;

    margin-bottom: 45px;
    margin-left: 96px;
}

.filter-btn {
    padding: 10px 30px;

    border: 0;
    border-radius: 50px;

    font-size: 20px;
    font-weight: 600;

    color: var(--color-border-default);
    background-color: var(--color-btn-disabled);

    cursor: pointer;
}

.filter-btn.active {
    color: var(--color-btn-secondary-default);
    background-color: var(--color-primary-heavy);
}


/* =========================
   Product List
========================= */

.product-slider-wrap {
    width: 100%;
    overflow: hidden;
}

.product-list {
    display: none;

    grid-template-columns: repeat(3, max-content);

    column-gap: 24px;
    row-gap: 40px;

    width: fit-content;
    margin: 0 auto;

    position: relative;
}

.product-list.active {
    display: grid;
}


/* =========================
   Product
========================= */

.product-btn {
    width: fit-content;

    border: 0;
    padding: 0;

    background: transparent;

    cursor: pointer;

    text-align: left;
}

.product-btn img {
    display: block;

    width: auto;
    height: auto;

    object-fit: cover;
}

.product-btn p {
    margin-top: 20px;

    font-size: 28px;
    font-weight: 500;

    color: var(--color-primary-heavy);
}


/* =========================
Page Button
========================= */

.page-btn-wrap {
    width: 100%;

    margin-top: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 50px;
}


.page-btn-wrap img {
    display: block;

    width: 15px;
    height: 15px;
    padding: 15px 15px;

    object-fit: contain;

    cursor: pointer;

    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 1px 1.33px rgba(0, 0, 0, 0.15);
}

.prev-btn:hover {
    filter: brightness(1) invert(0);
    background-color: #d9d9d9;
}

.next-btn:hover {
    filter: brightness(1) invert(0);
    background-color: #d9d9d9;
}

/* Footer ========================================= */


.footer {
    width: 100%;
    background: #F0F0F0;
}

.footer .container {
    max-width: 1440px;
    margin: 0 auto;
}

/* ==========================
        Top
========================== */

.footer-top {
    display: flex;
    align-items: center;

    padding-left: 240px;
    height: 100px;

    border-bottom: 1px solid #303030;
}

.footer-logo img {
    width: 150px;
    display: block;
}


/* ==========================
        Bottom
========================== */

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 30px 0;
}


/* ==========================
        Left
========================== */

.footer-left {
    display: flex;
    flex-direction: column;
}


/* menu */

.footer-menu {
    display: flex;
    gap: 15px;
}

.footer-menu a {
    font-size: 18px;
    font-weight: 400;

    color: var(--color-text-description);
}


/* company */

.footer-company {
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-company p {
    display: flex;
    flex-wrap: wrap;

    font-size: 18px;
    font-weight: 400;

    color: var(--color-text-description);
}


/* copy */

.footer-copy {
    margin-top: 27px;
    font-size: 18px;
    font-weight: 600;

    color: var(--color-text-description);
}

/* ==========================
        Right
========================== */

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.footer-instagram {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 42px;
    height: 42px;
}

.footer-instagram img {
    width: 42px;
    display: block;
}

.footer-center-title {
    margin-top: 18px;

    font-size: 15px;
    font-weight: 400;

    color: var(--color-text-description);
}

.footer-tel {
    margin-top: 10px;

    font-size: 24px;
    font-weight: 400;

    color: var(--color-text-description);
}


/* =============================================================== */


.popup-wrap {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;


    display: none;

    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.5);

    z-index: 9999;
}


/* =========================
   Popup
========================= */

.popup {
    position: relative;

    display: none;

    border-radius: 20px;
    overflow: hidden;

    z-index: 10000;
}


/* =========================
   Popup Image
========================= */

.popup>img {
    display: block;

    width: auto;
    height: auto;

    max-width: 90vw;
    max-height: 90vh;
}


/* =========================
   Close Button
========================= */

.close-btn {
    position: absolute;

    top: 30px;
    right: 30px;

    padding: 0;

    border: 0;

    background: transparent;

    cursor: pointer;

    z-index: 10001;
}

.close-btn img {
    display: block;

    width: auto;
    height: auto;
}