body {
    background-color: var(--color-bg-story); 
}

/* ==================================================
   Header Inner
================================================== */

.header {
    width: 100%;
    height: 150px;
    background-color: #00000030;

    margin: 0 auto;
    padding: 0 240px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    position: absolute;
    z-index: 9999;

}


/* ==================================================
   Logo
================================================== */

.logo {
    margin: 0;
    padding: 0;
    filter: brightness(0) invert(1);
}

.logo a {
    display: block;

    width: 185px;
    height: 40px;
}

.logo img {
    display: block;

    width: 100%;
    height: 100%;

    object-fit: contain;
}


/* ==================================================
   Navigation
================================================== */

.header-nav {
    margin: 0;
    padding: 0;
}

.header-nav ul {
    display: flex;
    align-items: center;
    gap: 40px;

    margin: 0;
    padding: 0;

    list-style: none;

    font-size: 20px;
    font-weight: 500;
}

.header-menu {
    margin: 0;
    padding: 0;
}

.header-menu a {
    display: block;

    color: #ffffff;
    text-decoration: none;
    white-space: nowrap;
}

.header-menu:hover a {
    color: #404040;
}


/* ==================================================
   Header Button
================================================== */

.headr-btn {
    display: flex;
    align-items: center;
    gap: 10px;

}

/* ==================================================
   SHOP Button
================================================== */

.shop-btn a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 132px;
    height: 44px;

    padding: 12px 32px;

    box-sizing: border-box;

    border: 1px solid #ffffff;
    border-radius: 50px;

    color: #ffffff;

    font-size: 18px;
    font-weight: 500;

    text-decoration: none;
    white-space: nowrap;
}


.shop-btn img {
    display: block;

    width: auto;
    height: auto;

    margin-left: 4px;
    filter: brightness(0) invert(1);
}

.shop-btn:hover a {
    background-color: var(--color-btn-secondary-hover);
    color: var(--color-btn-secondary-default);
}

.shop-btn:hover img {
    filter: brightness(0) invert(1);
}

/* ==================================================
   CONTACT Button
================================================== */

.contact-btn a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 154px;
    height: 44px;

    padding: 12px 32px;

    box-sizing: border-box;

    border-radius: 50px;

    background-color: var(--color-btn-secondary-default);
    color:  var(--color-btn-secondary-hover);

    font-size: 18px;
    font-weight: 500;

    text-decoration: none;
    white-space: nowrap;
}

.contact-btn:hover a {
    background-color:  var(--color-btn-secondary-hover);
    color: var(--color-btn-secondary-default);
}


/* =============================================================== */


.kv-sec {
    width: 100%;
    height: 1080px;
    padding-bottom: 160px;
}

.kv-sec img {
    width: 100%;

    object-fit: cover;
}

.kv-title-wrap {
    width: 100%;
    max-width: 1440px;
    margin: 40px auto 0;
}

.kv-title-wrap h2 {
    color: var(--color-primary-heavy);
    margin-bottom: 10px;
}

.kv-title-wrap p {
    color: var(--color-primary-heavy);
}


/* =============================================================== */


/* =========================
   History
========================= */

.hitory-sec {
    position: relative;

    width: 100%;
    padding: 160px 0 260px;

    background-color: #ffffff;


    overflow: hidden;
}


/* =========================
   History Line
========================= */

.hitory-sec>img {
    display: block;

    width: 100%;
    height: auto;

    object-fit: contain;
}


/* =========================
   History Image
========================= */

.year-img-wrap {
    position: relative;

    width: 586px;
    height: 241px;

    overflow: hidden;

    z-index: 10;

    opacity: 0;
}

.year-img-wrap>img {
    display: block;

    width: 100%;
    height: auto;

    object-fit: cover;
}


/* =========================
   이미지 위 제목
========================= */

.year-img-wrap h2 {
    position: absolute;
    top: 55px;
    left: 60px;

    margin: 0;

    text-align: left;
    font-size: 30px;
    font-weight: 600;

    color: #ffffff;

    z-index: 1;
}


/* =========================
   이미지 위 설명
========================= */

.year-img-wrap p {
    position: absolute;
    top: 142px;
    left: 60px;

    margin: 0;

    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    text-align: left;

    color: #ffffff;

    z-index: 1;
}


/* =========================
   Year Common
========================= */

.year-wrap {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 30px;

    text-align: center;

    z-index: 2;
}


/* =========================
   Year Text
========================= */

.year-text-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Year */

.year-text-wrap p {
    margin: 0;

    font-size: 34px;
    font-weight: 800;
    line-height: 1;

    color: #E33C3C;
}


/* Number */

.year-text-wrap span {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    margin: 30px auto;

    background-color: #E33C3C;
    border-radius: 50%;

    color: #ffffff;

    font-size: 20px;
    font-weight: 600;

    cursor: pointer;
}


/* =========================
   2024
========================= */

.first-year {
    left: 13.5%;
    top: 390px;
}


/* =========================
   2025
========================= */

.second-year {
    left: 35%;
    top: 110px;
}


/* =========================
   2026
========================= */

.third-year {
    left: 56%;
    top: 390px;
}


/* =============================================================== */

.problem-sec {
    width: 100%;

    background-color: #ffffff;
    text-align: center;
}

.problem-title-wrap h2 {
    color: var(--color-primary-heavy);
    margin-bottom: 60px;
}

.problem-title-wrap p {
    margin-bottom: 200px;

    color: var(--color-text-description);
}

.problem-sec video {
    width: 100%;
    height: 800px;

    top: -50%;
    object-fit: cover;
    object-position: center 80%;
}


/* =============================================================== */

.solution-sec {
    position: relative;

    width: 100%;
    height: 1080px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    overflow: hidden;
}


/* =========================
   Solution Text
========================= */

.solution-text-wrap {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 50px;

    z-index: 2;
}

.solution-text-wrap h2 {
    margin: 0;

    font-size: 72px;
    font-weight: 700;
    line-height: 1.3;

    color: var(--color-primary-heavy);
}

.solution-text-wrap p {
    margin: 0;

    font-size: 36px;
    font-weight: 400;
    line-height: 1.2;

    color: var(--color-text-description);
}


/* =========================
   Solution Image
========================= */

.solution-img-wrap {
    position: absolute;

    top: 0;
    left: 50%;

    width: min(952px, 100%);

    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 150px;

    transform: translateX(-50%);

    z-index: 3;

    pointer-events: none;
}

.solution-img-wrap img {
    width: 342px;

    flex-shrink: 0;
}


/* =========================
   Image Position
========================= */

.solution-img-right {
    align-self: flex-end;
}

.solution-img-left {
    align-self: flex-start;
}


/* =============================================================== */


.philosophy-sec {
    width: 100%;

    background-color: #fff;

    text-align: center;

    overflow: hidden;
}


/* =========================
   Container
========================= */

.philosophy-sec .container {
    position: relative;

    width: 100%;
    max-width: 1440px;

    height: 100%;
    margin: 0 auto;

    padding-top: 120px;
    padding-bottom: 90px;
}


/* =========================
   Philosophy Title
========================= */

.philosophy-title-wrap {
    text-align: center;
}

.philosophy-title-wrap h2 {
    margin: 0 0 20px;
}

.philosophy-title-wrap p {
    margin: 0 0 100px;
}


/* =========================
   Philosophy Slider
========================= */

.philosophy-slider-wrap {
    position: relative;

    width: 100%;

    display: flex;
    overflow: hidden;
}

.philosophy-slider-wrap img {
    flex: 0 0 100%;

    width: 100%;

    object-fit: cover;

    transition: transform 0.6s ease;
}

/* =========================
   Slider Button
========================= */

.page-btn-wrap {
    position: absolute;

    top: 800px;
    left: 50%;

    width: 100%;
    max-width: 1380px;
    padding: 0 30px;

    transform: translateX(-50%);

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 10;

    pointer-events: none;
}

.page-btn-wrap button {
    width: 62px;
    height: 62px;

    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    background-color: #ffffff90;
    border-radius: 50%;
    pointer-events: auto;

    cursor: pointer;
}

.page-btn-wrap button img {
    display: block;

    width: 10px;
    height: 17px;
}

/* =========================
   Pagination
========================= */

.page-pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;

    margin-top: 50px;
}

.page-pagination span {
    display: block;

    width: 16px;
    height: 16px;

    background-color: #E8E9ED;

    border-radius: 50%;
}

.page-pagination span.active {
    background-color: #000000;
}


/* =============================================================== */


/* =========================
   Standard
========================= */

.standard-sec {
    position: relative;

    width: 100%;
    min-height: 1080px;

    display: flex;
    align-items: center;

    background-color: var(--color-bg-story);

    overflow: hidden;
}


/* =========================
   Text
========================= */

.standard-text-wrap {
    position: relative;

    width: 25%;

    margin-left: 12%;

    flex-shrink: 0;

    z-index: 2;
}

.standard-text-wrap h2 {
    margin-bottom: 15px;

    color: var(--color-primary-heavy);
}

.standard-text-wrap>p {
    margin: 0;

    color: var(--color-primary-heavy);
}


/* =========================
   Slider Pagination
========================= */

.slider-pagenation {
    display: flex;
    align-items: center;
    gap: 25px;

    margin-top: 30px;
}

.slider-pagenation button {
    width: auto;
    height: auto;

    padding: 0;

    border: 0;
    background: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.slider-pagenation button img {
    display: block;

    width: 18px;
    height: 18px;
}

.page-number {
    display: flex;
    align-items: center;
    gap: 5px;

    margin: 0 8px;

    font-size: 18px;
    font-weight: 500;

    color: var(--color-primary-heavy);
}

.page-number span {
    display: block;
}


/* =========================
   Card
========================= */

.standard-card-wrap {
    position: relative;

    width: 63%;

    overflow: hidden;

    flex-shrink: 0;
}

.standard-card {
    display: flex;

    gap: 10px;

    width: max-content;

    cursor: grab;
    user-select: none;
    -webkit-user-select: none;
}

.standard-card img {
    display: block;

    width: 464px;
    height: auto;

    flex-shrink: 0;

    object-fit: cover;

    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
}


.footer {
    width: 100%;
    background: #F0F0F0;
}

.footer .container {
    max-width: 1440px;
    margin: 0 auto;
}


/* ==========================
        Top
========================== */

.footer-top {
    display: flex;
    align-items: center;

    height: 100px;

    border-bottom: 1px solid #303030;
}

.footer-logo img {
    width: 150px;
    display: block;
}


/* ==========================
        Bottom
========================== */

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 20px 0;
}


/* ==========================
        Left
========================== */

.footer-left {
    display: flex;
    flex-direction: column;
}


/* menu */

.footer-menu {
    display: flex;
    gap: 40px;

    margin: 0;
    padding: 0;

    list-style: none;
}

.footer-menu a {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;

    color: var(--color-text-description);
}


/* company */

.footer-company {
    margin-top: 18px;

    font-style: normal;
}

.footer-company p {
    display: flex;
    flex-wrap: wrap;

    margin-top: 10px;

    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;

    color: var(--color-text-description);
}



/* copy */

.footer-copy {
    margin-top: 36px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    color: var(--color-text-description);
}

/* ==========================
        Right
========================== */

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 10px;
}

.footer-instagram {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 42px;
    height: 42px;
}

.footer-instagram img {
    width: 42px;
    display: block;
}

.footer-center-title {
    margin-top: 22px;

    font-size: 18px;
    font-weight: 400;
    line-height: 1;

    color: var(--color-text-description);
}

.footer-tel {
    margin-top: 18px;

    font-size: 36px;
    font-weight: 400;
    line-height: 1;

    color: var(--color-text-description);
}