/* 헤더 */
/* ==================================================
   Header Inner
================================================== */

.header {
    width: 100%;
    height: 150px;

    margin: 0 auto;
    padding: 0 240px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    position: absolute;
    z-index: 9999;

}


/* ==================================================
   Logo
================================================== */

.logo a {
    display: block;

    width: 185px;
    height: 40px;
}

.logo img {
    display: block;

    width: 100%;
    height: 100%;

    object-fit: contain;
}


/* ==================================================
   Navigation
================================================== */

.header-nav {
    margin: 0;
    padding: 0;
}

.header-nav ul {
    display: flex;
    align-items: center;
    gap: 40px;

    margin: 0;
    padding: 0;

    list-style: none;

    font-size: 20px;
    font-weight: 500;
}

.header-menu {
    margin: 0;
    padding: 0;
}

.header-menu a {
    display: block;

    color: var(--color-primary-normal);
    text-decoration: none;
    white-space: nowrap;
}

.header-menu:hover a {
    color: #404040;
}


/* ==================================================
   Header Button
================================================== */

.headr-btn {
    display: flex;
    align-items: center;
    gap: 10px;

}

/* ==================================================
   SHOP Button
================================================== */

.shop-btn a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 132px;
    height: 44px;

    padding: 12px 32px;

    box-sizing: border-box;

    border: 1px solid #5C2300;
    border-radius: 50px;

    color: var(--color-primary-normal);

    font-size: 18px;
    font-weight: 500;

    text-decoration: none;
    white-space: nowrap;
}


.shop-btn img {
    display: block;

    width: auto;
    height: auto;

    margin-left: 4px;
}

.shop-btn:hover a {
    background-color: var(--color-btn-secondary-hover);
    color: var(--color-btn-secondary-default);
}

.shop-btn:hover img {
    filter: brightness(0) invert(1);
}

/* ==================================================
   CONTACT Button
================================================== */

.contact-btn a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 154px;
    height: 44px;

    padding: 12px 32px;

    box-sizing: border-box;

    border-radius: 50px;

    background-color: var(--color-primary-normal);
    color: #fff;

    font-size: 18px;
    font-weight: 500;

    text-decoration: none;
    white-space: nowrap;
}

.contact-btn:hover a {
    background-color: var(--color-btn-secondary-hover);
    color: var(--color-btn-secondary-default);
}


/* Slider ========================== */

/* =========================
Slider Section
========================= */

.slider-sec {
    position: relative;

    width: 100%;
    height: 100vh;
    min-height: 600px;

    display: flex;

    /* overflow: hidden; */

    /* background-color: #FFE65C; */
}

.slider-wrap:nth-child(1) {
    background-color: var(--color-flavor-lemon);
}

.slider-wrap:nth-child(2) {
    background-color: var(--color-flavor-peach);
}

.slider-wrap:nth-child(3) {
    background-color: var(--color-flavor-passion-fruit);
}

.slider-wrap:nth-child(4) {
    background-color: var(--color-flavor-grapefruit);
}


/* =========================
Slider Wrap
========================= */

.slider-wrap {
    position: relative;

    width: 100%;
    height: 100%;

    flex-shrink: 0;
}


/* =========================
Container
========================= */

.slider-wrap .container {
    position: relative;

    width: 1440px;
    max-width: 100%;
    height: 100%;

    margin: 0 auto;
}


/* =========================
Main Title
========================= */

.slider .container {
    position: relative;
}

.container h2 {
    position: absolute;

    top: 20%;
    left: 50%;

    width: max-content;

    margin: 0;

    transform: translateX(-50%);

    font-family: var(--font-family);
    font-size: 110px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 10%;

    color: #ffffff;

    white-space: nowrap;

    z-index: 1;
}


/* =========================
Fruit Effect
========================= */

.fruit-effect {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    pointer-events: none;

    z-index: 2;
}

.fruit-effect img {
    position: absolute;

    top: 30%;
    left: 50%;

    width: 100%;
    height: 100%;

    transform: translate(-50%, -25%);

    object-fit: contain;
}


/* =========================
Main Cup
========================= */

.main-cup-img {
    position: absolute;

    top: 50%;
    left: 50%;

    width: 36.71875vw;
    aspect-ratio: 705 / 712;

    transform: translate(-50%, -40%);

    z-index: 3;
}

.main-cup-img img {
    display: block;

    width: 100%;
    height: 100%;

    object-fit: contain;
}


/* =========================
Slider Text
========================= */

.slider-text-wrap {
    position: absolute;

    left: 0;

    bottom: 180px;

    z-index: 4;
}

.slider-text-wrap h3 {
    margin: 0 0 16px;

    font-family: var(--font-family);
    font-size: 48px;
    font-weight: 700;
}

.slider-wrap:nth-child(1) .slider-text-wrap h3 {
    color: #F49F00;
}

.slider-wrap:nth-child(2) .slider-text-wrap h3 {
    color: #FD6C5E;
}

.slider-wrap:nth-child(3) .slider-text-wrap h3 {
    color: #63363C;
}

.slider-wrap:nth-child(4) .slider-text-wrap h3 {
    color: #E63D3D;
}

.slider-text-wrap p {

    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;

    color: var(--color-text-disabled);
}


/* =========================
Pagination
========================= */

.slider-wrap .container {
    position: relative;
}

.page-btn-wrap {
    position: absolute;

    top: 50%;
    left: 0;

    width: 100%;

    margin: 0;

    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 10;

    pointer-events: none;
}

.page-btn-wrap img {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 62px;
    height: 62px;

    padding: 20px;

    box-sizing: border-box;

    border-radius: 50%;

    background-color: #fff;

    object-fit: contain;

    pointer-events: auto;

    cursor: pointer;
}


/* Problem ========================== */



/* History ========================== */

.history-sec {
    width: 100%;
    padding: 140px 0;
    background: #F6F5F4;
    text-align: center;
    overflow: hidden;
}

.history-title {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
    color: #5C2300;
    text-align: center;
}

.history-title-line {
    display: block;
    width: 3px;
    height: 106px;
    background: #5C2300;
    margin: 76px auto 51px;
}

.history-img-wrap {
    width: 100%;
    overflow: hidden;
}

.history-track {
    display: flex;

    will-change: transform;
}

.history-track img {
    flex-shrink: 0;
    display: block;
    width: 100vw;
    height: auto;
    object-fit: cover;
}

.history-progress {
    position: relative;
}

.history-progress-svg {
    display: block;
    width: 100%;
    height: 20px;
}

.progress-track {
    fill: none;
    stroke: #D9D9D9;
    stroke-width: 6;
}

.progress-bar {
    fill: none;
    stroke: #5C2300;
    stroke-width: 6;

    /* GSAP 애니메이션용 */
    stroke-dasharray: 1920;
    stroke-dashoffset: 1920;
}

/* 레몬 포인터 */

.scrollbar-pointer {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}


.history-text-wrap {
    display: flex;
    justify-content: space-between;
}

/* active */

.history-text-list.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    text-align: left;
}

.history-text-list.active h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.5;
    color: #5C2300;
}

.history-text-list.active p {
    margin-top: 30px;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.4;
    color: #303030;
}


/* 기본 */

.history-text-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    text-align: left;
}

.history-text-list>img {
    width: 3px;
    height: 70px;
}

.history-text h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.5;
    color: #928379;
    transition: color .3s ease;
}

.history-text p {
    margin-top: 30px;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.4;
    color: #9B9B9B;
    transition: color .3s ease;
}


/* Prove ========================== */




/* flavor ========================== */
.flavor-sec {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    padding: 150px 0 150px 240px;
    background-color: #FFFFEC;
    box-sizing: border-box;
}

.recipe-img-wrap {
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.recipe-img-wrap img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease;
    z-index: 1;
}

.recipe-img-wrap img.active {
    opacity: 1;
    visibility: visible;

    z-index: 2;
}

.flavor-title-wrap {
    flex: 0 0 auto;
    align-self: flex-start;
}

.flavor-title {
    font-size: 40px;
    font-weight: 700;
    color: #5C2300;
    margin-bottom: 10px;
}

.flavor-desc {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 70px;
}

.flavor-content {
    flex: 1;
    min-width: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 200px;

    margin-left: 120px;
    overflow: hidden;
}

.flavor-list-wrap {
    display: flex;
    flex-direction: column;
}

.flavor-list {
    width: fit-content;
    padding: 15px 40px;
    margin-left: 83px;

    text-align: center;
    font-size: 30px;
    font-weight: 500;

    color: #fff;
    background-color: #5C2300;
    border-radius: 50px;
}

.flavor-img-wrap {
    display: flex;
    overflow: hidden;
    gap: 100px;
    margin-left: 30px;
}

.flavor-img-wrap img {
    width: 300px;
    flex-shrink: 0;
}

/* Recipe ========================== */
.recipe-sec {
    position: relative;
    display: flex;
    align-items: center;

    width: 100%;
    height: 100vh;

    background: #fff;
    overflow: hidden;
}


/* ==========================
        Left Image
========================== */

.recipe-sec>img {
    width: 50%;
    height: 100%;

    object-fit: cover;
}


/* ==========================
        Icon
========================== */

.icon-wrap {
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    gap: 30px;

    z-index: 20;
}

.icon-wrap li {
    list-style: none;
}

.icon-wrap button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 84px;
    height: 84px;

    border: none;
    border-radius: 50%;

    background: #D9D9D9;

    cursor: pointer;

    transition: .3s;
}

.icon-wrap button img {
    width: 45px;
    height: 45px;

    object-fit: contain;
}

.icon-wrap button:hover {
    background: #5C2300;
}

.icon-wrap button:hover img,
.icon-wrap button.active img {
    filter: brightness(0) invert(1);
}


/* ==========================
        Right Content
========================== */

.recipe-text-wrap {
    width: 50%;
    padding-left: 150px;
    box-sizing: border-box;
}

.recipe-text-wrap h2 {
    font-size: 40px;
    font-weight: 600;
    color: #5C2300;
    margin-bottom: 40px;
}

.recipe-text-wrap p {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    margin-bottom: 40px;
}

.recipe-list {
    display: none;
}

.recipe-list.recipe-active {
    display: block;
}


/* ==========================
        Button
========================== */

.preview-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 246px;
    height: 65px;
    border: 2px solid #8A4318;
    border-radius: 999px;
    background: transparent;
    color: #8A4318;
    font-size: 26px;
    font-weight: 600;
    cursor: pointer;
}

.preview-btn:hover {
    background: #5C2300;
    color: #fff;
}






/* ==========================
        Top
========================== */

.footer-top {
    display: flex;
    align-items: center;

    height: 100px;

    border-bottom: 1px solid #303030;
}

.footer-logo img {
    width: 150px;
    display: block;
}


/* ==========================
        Bottom
========================== */

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 20px 0;
}


/* ==========================
        Left
========================== */

.footer-left {
    display: flex;
    flex-direction: column;
}


/* menu */

.footer-menu {
    display: flex;
    gap: 40px;

    margin: 0;
    padding: 0;

    list-style: none;
}

.footer-menu a {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;

    color: var(--color-text-description);
}


/* company */

.footer-company {
    margin-top: 18px;

    font-style: normal;
}

.footer-company p {
    display: flex;
    flex-wrap: wrap;

    margin-top: 10px;

    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;

    color: var(--color-text-description);
}



/* copy */

.footer-copy {
    margin-top: 36px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    color: var(--color-text-description);
}

/* ==========================
        Right
========================== */

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 10px;
}

.footer-instagram {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 42px;
    height: 42px;
}

.footer-instagram img {
    width: 42px;
    display: block;
}

.footer-center-title {
    margin-top: 22px;

    font-size: 18px;
    font-weight: 400;
    line-height: 1;

    color: var(--color-text-description);
}

.footer-tel {
    margin-top: 18px;

    font-size: 36px;
    font-weight: 400;
    line-height: 1;

    color: var(--color-text-description);
}